---
import {getCollection} from 'astro:content';
import NoFooterLayout from '../layouts/NoFooterLayout.astro';
import PageMeta from '../components/PageMeta.astro';
import {SITE_TITLE} from '../config';
import '../components/home/style.css';
import ScrollingCards from '../components/home/scrollingCards.astro';
import SignUpBottom from 'src/components/SignUpBottom.astro';

const allPosts = await getCollection('artist');

function addDummyCards(
	columnPosts: {
		tags?: string[] | undefined;
		forFansOf?: string[] | undefined;
		image?: string | undefined;
		artistBandcampLink?: string | undefined;
		draft: boolean;
		name: string;
		description: string;
		publishDate: Date;
		monthlyListeners: number;
		banner: string;
		avatar: string;
		artistSpotifyLink: string;
	}[]
) {
	const dummyCard = {
		dummy: true,
		monthlyListeners: 50001,
		draft: true,
		name: '',
		description:
			'Playing stadiums across worldwide from a young age, this artist has been a household name for decades.',
		publishDate: new Date('2021-08-01T00:00:00.000Z'),
		banner: '',
		avatar: '',
		artistSpotifyLink: '',
	};

	for (let i = 0; i < 3; i++) {
		const randomIndex = Math.floor(Math.random() * columnPosts.length);
		const thisDummyCard = {
			...dummyCard,
			name: `Artist #${Math.floor(Math.random() * (52 - 15 + 1)) + 15}`,
		};
		columnPosts.splice(randomIndex, 0, thisDummyCard);
	}
	return columnPosts;
}

const randomisedPosts = allPosts.sort(() => Math.random() - 0.5);

let firstColumnPosts = randomisedPosts
	.slice(0, randomisedPosts.length / 4)
	.map((post) => post.data);
firstColumnPosts = addDummyCards(firstColumnPosts);

let secondColumnPosts = randomisedPosts
	.slice(randomisedPosts.length / 4, randomisedPosts.length / 2)
	.map((post) => post.data);
secondColumnPosts = addDummyCards(secondColumnPosts);

let thirdColumnPosts = randomisedPosts
	.slice(randomisedPosts.length / 2, (randomisedPosts.length / 4) * 3)
	.map((post) => post.data);
thirdColumnPosts = addDummyCards(thirdColumnPosts);

let fourthColumnPosts = randomisedPosts
	.slice((randomisedPosts.length / 4) * 3, randomisedPosts.length)
	.map((post) => post.data);
fourthColumnPosts = addDummyCards(fourthColumnPosts);
---

<NoFooterLayout>
	<PageMeta title={SITE_TITLE} slot="meta" />
	<section slot="main">
		<div
			class="cardContainer relative mx-auto grid h-[80vh] w-full max-w-6xl grid-cols-2 overflow-hidden sm:grid-cols-3 lg:grid-cols-4"
		>
			<div
				class="pointer-events-none absolute z-30 h-full w-full"
				style="background: radial-gradient(71.89999999999999% 72.7% at 50% 19.7%,rgba(0,145,255,0) 0%, rgb(var(--color-bg-body)) 100%);"
			>
			</div>
			<ScrollingCards index={0} posts={firstColumnPosts} />
			<ScrollingCards index={1} posts={secondColumnPosts} />
			<span class="hidden sm:block">
				<ScrollingCards index={2} posts={thirdColumnPosts} />
			</span>
			<span class="hidden lg:block">
				<ScrollingCards index={3} posts={fourthColumnPosts} />
			</span>
		</div>
		<div class="absolute inset-x-0 bottom-0 z-40 w-full">
			<SignUpBottom />
		</div>
	</section>
</NoFooterLayout>
