---
import {getCollection} from 'astro:content';
import {Image} from 'astro:assets';
import me from '../assets/me.jpg';
import PageMeta from '../components/PageMeta.astro';
import {SITE_TITLE} from '../config';
import '../components/home/style.css';
import ScrollingCards from '../components/home/scrollingCards.astro';
import SignUpBottom from 'src/components/SignUpBottom.astro';
import PageLayout from 'src/layouts/PageLayout.astro';

const allPosts = await getCollection('artist');

function addDummyCards(
	columnPosts: {
		tags?: string[] | undefined;
		forFansOf?: string[] | undefined;
		image?: string | undefined;
		artistBandcampLink?: string | undefined;
		draft: boolean;
		name: string;
		description: string;
		publishDate: Date;
		monthlyListeners: number;
		banner: {
			src: string;
			width: number;
			height: number;
			format: 'png' | 'jpg' | 'jpeg' | 'tiff' | 'webp' | 'gif' | 'svg';
		};
		avatar: {
			src: string;
			width: number;
			height: number;
			format: 'png' | 'jpg' | 'jpeg' | 'tiff' | 'webp' | 'gif' | 'svg';
		};
		artistSpotifyLink: string;
	}[]
) {
	const dummyCard = {
		dummy: true,
		monthlyListeners: 50001,
		draft: true,
		name: '',
		description:
			'Playing stadiums across worldwide from a young age, this artist has been a household name for decades.',
		publishDate: new Date('2021-08-01T00:00:00.000Z'),
		banner: {
			src: '',
			width: 0,
			height: 0,
			format: 'png',
		},
		avatar: {
			src: '',
			width: 0,
			height: 0,
			format: 'png',
		},
		artistSpotifyLink: '',
	};

	for (let i = 0; i < 3; i++) {
		const randomIndex = Math.floor(Math.random() * columnPosts.length);
		const thisDummyCard = {
			...dummyCard,
			name: `Artist #${Math.floor(Math.random() * (52 - 15 + 1)) + 15}`,
		};
		columnPosts.splice(
			randomIndex,
			0,
			thisDummyCard as (typeof columnPosts)[0]
		);
	}
	return columnPosts;
}

const randomisedPosts = allPosts.sort(() => Math.random() - 0.5);

let firstColumnPosts = randomisedPosts
	.slice(0, randomisedPosts.length / 4)
	.map((post) => post.data);
firstColumnPosts = addDummyCards(firstColumnPosts);

let secondColumnPosts = randomisedPosts
	.slice(randomisedPosts.length / 4, randomisedPosts.length / 2)
	.map((post) => post.data);
secondColumnPosts = addDummyCards(secondColumnPosts);

let thirdColumnPosts = randomisedPosts
	.slice(randomisedPosts.length / 2, (randomisedPosts.length / 4) * 3)
	.map((post) => post.data);
thirdColumnPosts = addDummyCards(thirdColumnPosts);

let fourthColumnPosts = randomisedPosts
	.slice((randomisedPosts.length / 4) * 3, randomisedPosts.length)
	.map((post) => post.data);
fourthColumnPosts = addDummyCards(fourthColumnPosts);
---

<PageLayout hideFooter={true}>
	<PageMeta title={SITE_TITLE} slot="meta" />
	<section slot="main">
		<div class="relative h-[70vh] w-full">
			<div
				class="cardContainer relative mx-auto grid h-[60vh] w-full max-w-6xl grid-cols-2 overflow-hidden sm:grid-cols-3 lg:grid-cols-4"
			>
				<div
					class="pointer-events-none absolute z-30 h-full w-full"
					style="background: radial-gradient(71.89999999999999% 72.7% at 50% 19.7%,rgba(0,145,255,0) 0%, rgb(var(--color-bg-body)) 100%);"
				>
				</div>
				<ScrollingCards index={0} posts={firstColumnPosts} />
				<ScrollingCards index={1} posts={secondColumnPosts} />
				<span class="hidden sm:block">
					<ScrollingCards index={2} posts={thirdColumnPosts} />
				</span>
				<span class="hidden lg:block">
					<ScrollingCards index={3} posts={fourthColumnPosts} />
				</span>
			</div>
			<div class="absolute inset-x-0 bottom-0 z-40 w-full">
				<SignUpBottom />
			</div>
		</div>
		<div class="mx-auto mt-16 max-w-2xl lg:max-w-5xl lg:px-8">
			<div
				class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12"
			>
				<div class="max-w-xs px-2.5 lg:max-w-none">
					<Image
						class="aspect-square rotate-3 rounded-2xl object-cover"
						src={me}
						alt="not actually me."
					/>
				</div>
				<div class="prose lg:order-first lg:row-span-2">
					<h1 class="text-4xl font-bold tracking-tight sm:text-5xl">
						I’m Matt. I live in Australia, where I code and listen to music.
					</h1>
					<h2
						class="text-xl font-bold tracking-tight text-primary-main sm:text-2xl"
					>
						I'm highlighting awesome artists that have less than 50,000 monthly
						listeners.
					</h2>
					<div
						class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400"
					>
						<p>
							I’ve loved listening to music since my early teens, and have been
							through phases of liking certain styles and rejecting others. Over
							time, I realised the only person missing out is the listener... or
							the one that doesn't listen I guess.
						</p>
						<p>
							Pursuing my musical taste has led me to some weird places, and
							really there isn't anything that is off the table. But this
							website isn't about finding difficult listens. These are
							incredible, underappreciated artists.
						</p>
						<p>
							Listening to music that is more obscure is mostly a lonely
							pursuit, barring a few friends that I each share particular genres
							with. If you like what you hear - share it around, subscribe to
							stay up to date, and email me with any thoughts or
							recommendations.
						</p>
						<div class="not-prose flex justify-center pb-10">
							<a class="unset" href="/artists">
								<div
									class="inline-flex items-center gap-x-1.5 rounded-md border border-gray-300 bg-primary-main py-1.5 px-2.5 align-middle text-sm font-semibold text-text-ctaBtn shadow-sm hover:bg-bg-selection hover:text-text-selection focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:py-1.5"
								>
									Jump In
									<i class="fa-solid fa-person-through-window ml-1"></i>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</PageLayout>
