---
import {getCollection} from 'astro:content';
import PageLayout from '../layouts/PageLayout.astro';
import PageMeta from '../components/PageMeta.astro';
import {SITE_TITLE} from '../config';
import bannerVid from '../videos/Sub50kBanner.mp4';
import '../components/home/style.css';
import ScrollingCards from '../components/home/scrollingCards.astro';
import { Image } from '@astrojs/image/components';
import GoogleFont from "../layouts/GoogleFont.astro";


const allPosts = await getCollection('artist');

const sortedPosts = allPosts
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.filter((post) => !post.data.draft);

function addDummyCards(
	columnPosts: {
		tags?: string[] | undefined;
		forFansOf?: string[] | undefined;
		image?: string | undefined;
		artistBandcampLink?: string | undefined;
		draft: boolean;
		name: string;
		description: string;
		publishDate: Date;
		monthlyListeners: number;
		banner: string;
		avatar: string;
		artistSpotifyLink: string;
	}[]
) {
	const dummyCard = {
		dummy: true,
		monthlyListeners: 50001,
		draft: true,
		name: '',
		description:
			'Playing stadiums across worldwide from a young age, this artist has been a household name for decades.',
		publishDate: new Date('2021-08-01T00:00:00.000Z'),
		banner: '',
		avatar: '',
		artistSpotifyLink: '',
	};

	for (let i = 0; i < 6; i++) {
		const randomIndex = Math.floor(Math.random() * columnPosts.length);
		const thisDummyCard = {
			...dummyCard,
			name: `Artist #${Math.floor(Math.random() * (52 - 15 + 1)) + 15}`,
		};
		columnPosts.splice(randomIndex, 0, thisDummyCard);
	}
	return columnPosts;
}

const randomisedPosts = allPosts.sort(() => Math.random() - 0.5);

let firstColumnPosts = randomisedPosts
	.slice(0, randomisedPosts.length / 4)
	.map((post) => post.data);
firstColumnPosts = addDummyCards(firstColumnPosts);

let secondColumnPosts = randomisedPosts
	.slice(randomisedPosts.length / 4, randomisedPosts.length / 2)
	.map((post) => post.data);
secondColumnPosts = addDummyCards(secondColumnPosts);

let thirdColumnPosts = randomisedPosts
	.slice(randomisedPosts.length / 2, (randomisedPosts.length / 4) * 3)
	.map((post) => post.data);
thirdColumnPosts = addDummyCards(thirdColumnPosts);

let fourthColumnPosts = randomisedPosts
	.slice((randomisedPosts.length / 4) * 3, randomisedPosts.length)
	.map((post) => post.data);
fourthColumnPosts = addDummyCards(fourthColumnPosts);
---

<PageLayout>
	<PageMeta title={SITE_TITLE} slot="meta" />
	<section slot="main">
		<div
			class="cardContainer relative mx-auto grid h-[80vh] w-full max-w-6xl grid-cols-2 overflow-hidden sm:grid-cols-3 lg:grid-cols-4"
		>
			<div
				class="pointer-events-none absolute z-30 h-full w-full"
				style="background: radial-gradient(71.89999999999999% 72.7% at 50% 19.7%,rgba(0,145,255,0) 0%, rgb(var(--color-bg-body)) 100%);"
			>
			</div>
			<ScrollingCards index={0} posts={firstColumnPosts} />
			<ScrollingCards index={1} posts={secondColumnPosts} />
			<span class="hidden sm:block">
				<ScrollingCards index={2} posts={thirdColumnPosts} />
			</span>
			<span class="hidden lg:block">
				<ScrollingCards index={3} posts={fourthColumnPosts} />
			</span>
		</div>
		<div
			class="mx-auto grid h-[15vh] w-full max-w-6xl grid-cols-3 overflow-hidden border-2"
		>
			<div class="col-span-2"></div>
			<div class="col-span-1 handScale relative h-full w-full prose">
				<img class='absolute inset-0 flex items-center justify-center' src={`https://res.cloudinary.com/sub50k/image/upload/v1679400647/site/pinching-hand.svg`} alt="pinching hand" aspectRatio="1:1" />
				<h2
				class="absolute inset-0 textScale h-full w-full text-xl text-primary-main font-extrabold"
				>
				SUB 50k
			</h2>
			</div>
		</div>

		<!-- <div class="mx-auto max-w-3xl px-6 sm:px-8">
			<video
				src={bannerVid}
				class="mb-8 w-full rounded border border-white md:mb-16 lg:mb-24"
				autoplay
				muted
				playsinline></video>

			<ul>
				{
					sortedPosts.map((post) => {
						const formattedDate = new Date(
							post.data.publishDate
						).toLocaleDateString('en-us', {
							year: 'numeric',
							month: 'short',
							day: 'numeric',
						});
						return (
							<li class="mb-3 grid grid-cols-[1fr] items-start md:grid-cols-[1fr_auto] md:gap-2">
								<div class="flex items-center">
									<div
										class="mr-2 h-6 w-6 rounded-full border border-white/50 bg-cover bg-center"
										style={{
											backgroundImage: `url(https://res.cloudinary.com/sub50k/image/upload/f_auto,q_auto:best/${post.data.avatar});`,
										}}
									/>
									<div class="title">
										<a
											href={`/artist/${post.slug}`}
											class="unset hover:text-text-link"
										>
											{post.data.name}
										</a>
									</div>
									<span class="highlight ml-8">
										{post.data.monthlyListeners.toLocaleString('en-US')}
									</span>
								</div>
								<div class="text-text-muted text-sm italic">
									<time datetime={post.data.publishDate.toISOString()}>
										{formattedDate}
									</time>
								</div>
							</li>
						);
					})
				}
			</ul>
		</div> -->
	</section>
</PageLayout>
