---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";

const sortedPosts = (await getCollection("artist")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<PageLayout>
  <PageMeta title={SITE_TITLE} slot="meta" />
  <section slot="main">
    <ul>
      {
        sortedPosts.map((post) => {
          const formattedDate = new Date(post.data.publishDate).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                <a href={`/artist/${post.slug}`} class="unset hover:text-text-link">
                  {post.data.title}
                </a>
              </div>
              <div class="text-text-muted text-sm italic">
                <time datetime={post.data.publishDate.toISOString()}>{formattedDate}</time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
