---
const {index = [0], posts = []} = Astro.props;
---

<card-column
	data-index={index}
	data-posts={JSON.stringify(posts)}
	class="col-span-1 flex flex-col items-center relative artistCards"
>
</card-column>

<script>
	class CardColumn extends HTMLElement {
		constructor() {
			super();
			function generateInnerHTML({
				banner,
				avatar,
				artistName,
				text,
				listeners,
			}: {
				banner: string;
				avatar: string;
				artistName: string;
				text: string;
				listeners: number;
			}) {
				return `
        <div
        class="group relative w-64 h-[19.5rem] overflow-hidden rounded-lg border border-gray-400/50 bg-gray-700 py-6 px-6 text-gray-200 ring-1 ring-gray-900/5 ${
					listeners < 50000 ? 'shadow-lg shadow-green-400' : 'opacity-10'
				}"
        >
            ${
							listeners < 50000
								? `<div
                class="absolute top-2 left-0 z-20 m-3 flex -rotate-12 items-center rounded-md border-2 border-green-300 bg-gray-900 px-1 py-0.5 text-sm text-green-300"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-5 w-5 mr-1"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                    ></path>
                </svg>
                Sub 50k
            </div>`
								: ''
						}
            <div class="absolute inset-0 z-10 h-36">
            ${
							listeners < 50000
								? ` <img
                    src=https://res.cloudinary.com/sub50k/image/upload/ar_7:3,c_fill,f_auto,q_auto,w_748/${banner}
                    class="h-full w-full object-cover opacity-80 grayscale"
                    alt="banner"
                />`
								: `<div class="h-full w-full backgroundImage opacity-80 grayscale"></div>`
						}
            </div>
            <div
                class="absolute inset-0 z-10 h-36_1 bg-gradient-to-b from-transparent to-gray-700"
            >
            </div>
            <!-- Top banner -->
            <div class="relative z-20 h-32">
                <div class="flex flex-col items-center">
                   ${
											listeners < 50000
												? `<img
                        src=https://res.cloudinary.com/sub50k/image/upload/f_auto,q_auto:best/${avatar}
                        class="h-16 rounded-full border-2 border-gray-700"
                        alt="avatar"
                    />`
												: `<svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-16 h-16 rounded-full border-2 border-gray-700 bg-gray-500"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                    ></path>
                </svg>`
										}
                    <div class="mt-6 prose">
                        <h2
                            class="border-b text-xl uppercase whitespace-nowrap overflow-ellipsis ${
															listeners < 50000
																? 'border-primary-main'
																: 'text-gray-200 border-gray-200'
														}" text-primary-main
                        >
                            ${artistName}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="mt-4 divide-y divide-gray-300/50">
                <div class="pb-4 text-sm">
                    <p class="line-clamp-3">
                        ${text}
                    </p>
                </div>
                <div class="ml-2 pt-4 text-center">
                    <span class="font-mono text-lg">${
											listeners < 50000
												? listeners.toLocaleString('en-US')
												: '50k+'
										}</span>
                    <span class="text-sm text-gray-400">/ month</span>
                </div>
            </div>
        </div>
        `;
			}

			const indexNumber = this.dataset.index as unknown as number;
			const rawArtists = this.dataset.posts as unknown as string;
			const allArtists = JSON.parse(rawArtists) as Array<any>;
			const numberOfCards = allArtists.length;
			let cardCount = 0;

			let initialised = false;

			async function addScrollCard() {
				if (!initialised) {
					await new Promise((resolve) =>
						setTimeout(resolve, 500 * indexNumber)
					);
					initialised = true;
				}
				const artistCardsArr = document.querySelectorAll('.artistCards');

				const newCard = document.createElement('div');

				let randomArtist = allArtists[cardCount];
				cardCount = cardCount === numberOfCards - 1 ? 0 : cardCount + 1;

				newCard.innerHTML = generateInnerHTML({
					banner: randomArtist.banner,
					avatar: randomArtist.avatar,
					artistName: randomArtist.name,
					text: randomArtist.description,
					listeners: randomArtist.monthlyListeners,
				});

				newCard.classList.add('scrollCard');
				if (indexNumber % 2 === 0) {
					newCard.style.setProperty('--animFrom', `-1`);
					newCard.style.setProperty('--animTo', `0`);
					let iterationCount = 0;

					newCard.onanimationiteration = () => {
						if (iterationCount === 0) {
							addScrollCard();
						}
						iterationCount++;
						newCard.style.setProperty(
							'--animFrom',
							(iterationCount - 1).toString()
						);
						newCard.style.setProperty('--animTo', iterationCount.toString());
					};
				} else {
					const initAnimFrom = 3;
					const initAnimTo = 2;
					newCard.style.setProperty('--animFrom', initAnimFrom.toString());
					newCard.style.setProperty('--animTo', initAnimTo.toString());
					let iterationCount = 0;

					newCard.onanimationiteration = () => {
						if (iterationCount === 0) {
							addScrollCard();
						}
						iterationCount++;
						newCard.style.setProperty(
							'--animFrom',
							(initAnimFrom - iterationCount).toString()
						);
						newCard.style.setProperty(
							'--animTo',
							(initAnimTo - iterationCount).toString()
						);
					};
				}

				artistCardsArr[indexNumber]?.appendChild(newCard);

				newCard.onanimationend = () => {
					newCard.remove();
				};
			}

			addScrollCard();
		}
	}
	customElements.define('card-column', CardColumn);
</script>
