---
/* 
  This layout is used in pages that render markdoc content
  - pages/blog/[slug].astro
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";

import GoogleFontCollection from "./GoogleFontCollection.astro";
import FontAwesome from "./FontAwesome.astro";
import ThemeScript from "./ThemeScript.astro";
import Favicon from "./Favicon.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Picture } from "@astrojs/image/components";

export interface Props {
  title: string;
  date: Date;
  bannerSrc: string;
  avatarSrc: string;
  monthlyListeners: number;
  artistSpotifyLink: string;
  artistBandcampLink?: string;
}

const {
  title,
  date,
  bannerSrc,
  avatarSrc,
  monthlyListeners,
  artistSpotifyLink,
  artistBandcampLink,
} = Astro.props;
// const formattedDate = new Date(date).toLocaleDateString("en-us", {
//   year: "numeric",
//   month: "short",
//   day: "numeric",
// });
---

<!DOCTYPE html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <Favicon />
    <slot name="meta" />
    <GoogleFontCollection />
    <ThemeScript />
    <FontAwesome />
  </head>

  <body class="min-h-screen max-w-4xl lg:max-w-3xl mx-auto px-0 lg:px-8">
    <span class="px-6 py-4 lg:px-0 md:px-8">
      <Header />
    </span>
    <main id="main">
      <section class="blog-post prose max-w-none prose-sleek">
        <div class="w-full h-40 sm:h-60 relative mb-10 lg:mb-20">
          <Picture
            class="h-full object-cover w-full overflow-hidden lg:rounded"
            src={`https://res.cloudinary.com/sub50k/image/upload/ar_7:3,c_fill,f_auto,q_auto,w_748/${bannerSrc}`}
            alt={`${title} banner image`}
            widths={[400, 800]}
            aspectRatio="7:3"
            sizes="(min-width: 1024px) 896px, (max-width: 1024px) 510px"
          />
          <div class="absolute lg:-bottom-16 lg:left-4 -bottom-10 left-4">
            <div
              class="rounded-full h-20 w-20 lg:h-32 lg:w-32 border-bg-body border-2 lg:border-4 bg-cover bg-center overflow-hidden"
              style={{ backgroundImage: `url(${avatarSrc});` }}
            >
            </div>
          </div>
        </div>
        <div class="px-6 lg:px-0">
          <h1 class="m-0 mb-[0.25em] text-primary-main">{title}</h1>
          <div class="flex sm:justify-between mb-8">
            <div class="not-prose flex space-x-3">
              {
                artistBandcampLink && (
                  <a
                    class="text-3xl sm:text-2xl unset hover:text-text-link flex items-center justify-center"
                    href={artistBandcampLink}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <i
                      class="fa-brands fa-bandcamp"
                      aria-hidden="true"
                      title={`${title} Bandcamp link`}
                    />
                    <span class="fa-sr-only">{title} Bandcamp link</span>
                  </a>
                )
              }
              <a
                class="text-3xl sm:text-2xl unset hover:text-text-link flex items-center justify-center"
                href={artistSpotifyLink}
                target="_blank"
                rel="noopener noreferrer"
              >
                <i
                  class="fa-brands fa-spotify"
                  aria-hidden="true"
                  title={`${title} Spotify link`}></i>
                <span class="fa-sr-only">{title} Spotify link</span>
              </a>
            </div>
            <span class="text-text-muted ml-4">
              <span class="sm:hidden flex flex-col">
                <span class="sm:mr-1">
                  <span class="text-secondary-main">
                    <!-- {monthlyListeners.toLocaleString("en-US")} -->
                  </span> monthly listeners,
                </span>
                <!-- <span> at {formattedDate}</span> -->
              </span>
              <span class="hidden sm:flex flex-row text-right">
                <!-- <span> {formattedDate}, monthly listeners:</span> -->
                <span class="sm:ml-1 text-secondary-main">
                  <!-- {monthlyListeners.toLocaleString("en-US")} -->
                </span>
              </span>
            </span>
          </div>
          <slot name="content" />
        </div>
      </section>
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: 5rem minmax(0, 1fr) 5rem;
        grid-template-columns: minmax(0, 1fr);
      }
      main {
        grid-area: main;
      }
    </style>
  </body>
</html>
